@font-face {
    font-family: 'DIN Pro;
	src: url(../fonts/DINPro-CondensedLight.ttf);
}
@font-face {
    font-family: 'Gilroy Regular';
	src: url(../fonts/Gilroy-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}
html {
    font-family: 'DIN Pro', sans-serif;
    color: #222222;
}
.header{
    text-align: center;
    padding: 165px 7% 142px;
}
.header .header__caption{
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}
.header .header__text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
    color: #4A4556;
}
.header .header__text .header__text-href{
    color: #F47821;
    font-weight: bold;
}
.header .header__profile-href{
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: transparent;
    color:  #F47821;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 236px;
    margin: 0 auto;
    cursor: pointer;
-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
}
.header .header__profile-href .header__profile-href-circle{
    background-color: #F7F5FA;
    width: 54px;
    height: 54px;
    border-radius: 111px;
    /* width: 100%; */
    position: absolute;
    left: 0;
    line-height: 54px;
    transition: all 0.5s ease-out;
}
.header .header__profile-href .header__profile-href-icon{
    position: absolute;
    left: 19px;
}
.header .header__profile-href .header__profile-href-button-text{
    color: #222222;
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    z-index: 999999;
}
.header .header__profile-href:hover .header__profile-href-circle{
    width: 100%;
}
.weDo{
    background-image: url(../images/people.png);
    height: 1124px;
    background-color: #F7F5FA;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 600px;
}
/*.weDo .weDo__people-image{
    width: 100%;
}
.weDo .weDo__grey{
    height: 500px;
    background-color: #F7F5FA;
}*/
.weDo__actions{
    background-color: white;
    position: absolute;
    top: 501px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 972px;
    margin-left: 50%;
    left: -486px;
}
.weDo__actions .weDo__actions-action{
    padding: 50px 70px 61px 60px;
    width: 50%;
    border: 1px solid #EDEDED;
}
.weDo__actions .weDo__actions-action .weDo__actions-action-name{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;  
    color: #F47821;
    margin-bottom: 12px;
}
.weDo__actions .weDo__actions-action .weDo__actions-action-text{
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.03em;
    color: #222222;
}
/*.weDo__actions{
    position: absolute;
    top: 317px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1f;
    grid-template-columns: 1fr 1fr;
}*/
.weSimilar{
    /*padding: 80px 333px 100px 334px;*/
    width: 773px;
    padding: 80px 0px 100px;
    margin: 0 auto;
}
.weSimilar .weSimilar__caption{
    font-size: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}
.weSimilar .weSimilar__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53;
}
.weSimilar .weSimilar__text .weSimilar__text-part1{
    margin-bottom: 30px;
}
.advantages{
    padding: 120px 135px 160px; 
    background-color: #F7F5FA;
}
.advantages .advantages__caption{
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 60px;
}
.advantages .advantages__list{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: space-between;
    -webkit-box-pack: justify;
}
.advantages .advantages__list .advantages__list-advantage{
    width: 326px;
}
.advantages .advantages__list .advantages__list-advantage .advantages__list-advantage-caption{
    font-size: 20px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}
.advantages .advantages__list .advantages__list-advantage .advantages__list-advantage-underline{
    width: 24px;
    height: 2px;
    background: #F47821;
    margin-bottom: 27px;
}
.advantages .advantages__list .advantages__list-advantage .advantages__list-advantage-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #4E4D53;
}
.form{
    background-color: #161616;
    /* padding: 100px 432px 120px 341px; */
    color: white;
    padding-top: 100px;
    padding-bottom: 120px;
}
.form .form__caption{
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 82px;
}
.form .form__form{
    display: flex;
    flex-direction: column;
    width: 564px;
    margin: 0 auto;
    position: relative;
}
.form .form__form .form__label{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    font-weight: 600;
}
.form .form__form .form__input{
    height: 49px;
    width: 100%;
    background-color: transparent;
    opacity: 0.3;
    border-bottom: 2px solid rgba(256,256,256,0.3);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 49px;
    letter-spacing: -0.01em;
    margin-bottom: 48px;
    color: white;
}
.form .form__form .form__button{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 111px;
    padding: 20px 0 16px;
    font-family: 'Gilroy Regular';
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #F47821;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
.form .form__form .form__button[disabled]{
    color: #F7F5FA;
}
.form .form__form .form__block{
    position: relative;
}
.form .form__form .form__label-digit{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #F47821;
    position: absolute;
    left: -79px;
    top: -21px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 111px;
    border: 1px solid rgba(256,256,256,0.23);
}
.form .form__form .form__input::-webkit-input-placeholder{
    color: white;
}
.form .form__form .form__error{
    margin-bottom: 48px;
    color: #F47821;
    text-transform: uppercase;
    display: none;
}
@media all and (max-width: 1335px){
    .advantages .advantages__list .advantages__list-advantage{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .advantages .advantages__list .advantages__list-advantage .advantages__list-advantage-underline{
        display: none;
    }
}
@media all and (max-width: 1150px){
    .weDo{
        background-image: none;
        height: auto;
        padding: 10%;
    }
    .weDo__actions{
        position: static;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .weDo__actions .weDo__actions-action{
        width: 100%;
        padding: 10%;
    }
    .weSimilar{
        width: 100%;
        padding: 10%;
    }
    .advantages{
        padding: 10%;
    }
    /*.header{
        padding: 10%;
    }*/
    .form .form__form{
        width: 100%;
        padding: 0 10%;
    }
}
@media all and (max-width: 900px){
    .form .form__form .form__label-digit{
        display: none;
    }
}
@media all and (max-width: 550px){
    .header .header__caption,.advantages .advantages__caption{
        font-size: 30px;
    }
    .header{
        padding-top: 102px;
        padding-bottom: 102px;
    }
    .form .form__caption{
        padding: 0 10%;
        font-size: 30px;
    }
}